.intro{
    box-sizing: border-box;
    max-width: 984px;
    flex-shrink: 0;
    padding-top: 92px;
    margin: 0 auto;

    position: relative;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1075px){
    .intro{
        margin-left: 4.6vw;
        padding-top: 82px;
    }
}

@media (max-width: 1023px){
    .intro{
        margin: 0 24px 0;
        padding-top: 78px;
    }
}

@media (max-width: 767px){
    .intro{
        margin: 64px 16px 0;
        padding-top: 0;
    }
}