.place__website{
    width: 100%;
    margin: 0 8px;
    padding-bottom: 46px;

    display: flex;
    grid-area: website;
    flex-direction: column;
    align-self: flex-end;
}


@media (max-width: 767px){
    .place__website{
        margin: 0;
        padding-bottom: 32px;
    }
}

@media (max-width: 320px){
    .place__website{
        margin: 0 16px;
    }
}